html
  head
    title Rss reader
  body
    div.progress.d-none
      div.progress-bar.progress-bar-striped.progress-bar-animated(
        role='progressbar'
        aria-valuenow='100'
        aria-valuemin='0'
        aria-valuemax='100'
        style='width: 100%'
      )
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.pr-1
      div.container
        h1 Rss reader
        form.search-form.row.align-items-center(novalidate)
          div.col-md-4.col-lg-8
            label.position-absolute(for='validationCustom01')
            input#validationCustom01.form-control.search-form-input(
              type='search'
              placeholder='Enter rss feed'
              required
            )
            div.invalid-feedback
          button.btn.btn-outline-success.col-lg-4(type='submit') Search
    div.jumbotron
      div.container.rss-container
    div.modal(tabindex='-1', role='dialog')
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          div.modal-body
          div.modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
